django-admin-honeypot==1.1.0
Collectfast==2.1.0
gunicorn==20.0.4
cyclonedx-bom==3.1.1
spdx-tools>=0.7.0a3
sentry-sdk==1.4.3
svn==1.0.1
okta==2.3.1
GitPython==2.1.11
gitdb2==2.0.6
sshconf==0.2.2
PyJWT==v1.7.1
django-storages==1.12.3
certifi==2019.11.28
configparser==4.0.2
python-dateutil==2.8.1
six==1.14.0
urllib3==1.25.8
django-prometheus==2.2.0
prometheus-client==0.8.0
msal==1.1.0
dicttoxml==1.7.4
elasticsearch==7.5.1
elasticsearch-dsl==7.1.0
tornado==5.1.1
drf-api-tracking==1.8.0
django-defender==0.9.1
django-slack==5.17.6
jira==3.0a2
python-gitlab==2.0.1
pygal==2.4.0
pusher==2.1.4
djangorestframework-simplejwt==4.6.0
rules==2.2
django-filter==21.1
boto3==1.12.14
django-invitations==1.9.3
bcrypt==3.1.7
weasyprint==52.5
cryptography==3.3.2
stripe==2.56.0
dj-stripe==2.5.1
PyGithub==1.54.1
dj-rest-auth==2.2.2
drf-extensions==0.7.1
django-celery-beat==2.2.0
requests==2.23.0
redis==3.4.1
django-allauth==0.47.0
django-model-utils==4.2.0
django-extensions==3.1.5
Pillow==7.1.0
celery==5.2.3
flower==1.0.0
psycopg2-binary==2.9.3
awesome-slugify==1.6.5
argon2-cffi==19.2.0
django-environ==0.8.1
feedparser==5.1.1
Flask==0.11.1
django==1.7.1
PyJWT==0.4.2
rsa==3.4


